<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color:lightslategray";>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class=" text-center">
        <div
          class="bg-image"
          style="
          background-image: url('https://planetarium.truman.edu/files/2017/10/Space-background.jpg');"> 
        <div class = "text-danger">
        <h1>Mission to Mars</h1></div>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-danger btn-lg active" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <div class = "text-danger">
              <h2>Latest Mars News</h2></div>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <div class = "text-danger">
          <h2>Featured Mars Image</h2></div>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <div class = "text-danger">
            <h2>Mars Facts</h2></div>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>
      <!-- Section for Hemisphere Data -->
      <div class="row" id="hemisphere_title">
        <div class="header">
          <div class = "text-danger">
            <h2> Mars Hemispheres </h2></div>
        </div>
      </div>
      <div class="row" id="hemisphere_data"></div>
      <div>
        <div class="row" id="mars-hemisphres"></div>
        {% for hemisphere in mars.hemisphere_images_urls %}
        <div class=" col-md-3 ">
            <img src="{{hemisphere.img_url}}" alt="Responsive image" class="img-thumbnail" !important/>
            <h3>{{hemisphere.title}}</h3>
        </div>
        {%endfor%}
      </div>  
    </div>
  </body>
</html>